<div class="row">
  <div class="span2">
    <p><%= team.name %></p>
  </div> 
  <div class="span2">
    <p><%= team.shift.name %></p>
  </div>
  <% simple_form_for team.team_member do |f| %>
    f.submit "Join"
  <% end %> 
</div>
