<h2>All Teams</h2>
<div class="row">
  <div class="span2"><p><strong>Team Name</strong></p></div>
  <div class="span2"><p><strong>Shift</strong></p></div>
</div>
<%= render :partial => "team_list_item", :collection => teams, :as =>
:team %>
