<li>
<%= to_do_item.description %>
<%= form_tag patient_to_do_item_path(patient, to_do_item), method: :put do %>
  <% if item_state == 'todo' %>
    <%= submit_tag "Pending" %>
  <% end %>
  <%= submit_tag "Done" %>
<% end %>
</li>
