<header>
  <h2><%= user_patient_list.name %></h2>
</header>

<%= render :partial => "patient_details/details_table", :locals => {
:patient_details => user_patient_list.patients.map { |p| p.patient_detail }
} %>



