development:
  adapter: mysql
  encoding: utf8
  database: nhs-patientlist-dev
  username: root
  password:
  socket: /tmp/mysql.sock

test:
  adapter: mysql
  encoding: utf8
  database: nhs-patientlist-test
  username: root
  password:
  socket: /tmp/mysql.sock
  <%= File.file?('/tmp/mysql.sock') ? 'socket: /tmp/mysql.sock' : 'host: 127.0.0.1' %>
