/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require_tree .
*/

// styles that override bootstrap are in bootstrap_and_overrides.css.less

#risk_level {width: 80px;}
#sidebar {
  ul         { margin-bottom: 10px; }
  li a       { padding: 5px 0px; }
  a.new-list { margin-top: 0; font-weight: bold; }
  select,
  input      { width: 100%; }
}

.error { border: 1px solid red!important; }
.dragging { opacity: .8; background: white; padding: 10px; border:2px dashed black; }
.drop-hover { background: lightgrey; }

