// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.to_do_item .input {
  display: inline;
}
ul.todo-list {
  li {
    form {
      display: inline;
    }
  }
}
.drag-handle {
  font-size: 1.4em;
  font-weight: bold;
  cursor:move;
  opacity: .1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
tr:hover .drag-handle {
  opacity: .7;
}
